.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex.c { flex-direction: column; }

.button {
    margin: 4px;
    cursor: pointer;
    font-weight: 600;
    user-select: none;
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--text);
    transition: all 0.2s ease;
    background-color: var(--secondary);
}

.button:not(.disabled):hover {
    filter: hue-rotate(5deg) brightness(0.84);
}

.button:not(.disabled):active {
    animation: clicked 0.2s ease-in-out;
}

@keyframes clicked {
    0% { scale: 1; }
    50% { scale: 0.9; }
    100% { scale: 1; }
}

.button.inv {
    color: var(--background);
    background-color: var(--primary);
}

.button.disabled {
    filter: brightness(0.4);
    cursor: not-allowed;
    user-select: none;
    opacity: 0.8;
}

.action {
    margin: 5px;
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 10px;
    --_hov-bg: var(--info-bg);
    --_border: var(--info-clr);
    border: 2px solid var(--_border);
}

.action.disabled {
    user-select: none;
    cursor: not-allowed;
    transform: scale(0.98);
    filter: brightness(0.4);
    --_border: var(--border);
    background-color: var(--gray-bg);
}

.action:not(.disabled):hover { background-color: var(--_hov-bg); }

.action.red {
    --_border: var(--err-clr);
    --_hov-bg: var(--err-bg);
}

.action.yellow {
    --_border: var(--warn-clr);
    --_hov-bg: var(--warn-bg);
}

.action.green {
    --_border: var(--ok-clr);
    --_hov-bg: var(--ok-bg);
}

.link {
    padding: 2px 0;
    color: var(--link);
    text-underline-offset: 4px;
    font-size: var(--font-sz-m);
    text-decoration-style: dashed;
    text-decoration-thickness: 1px;
}

.link:hover, .link:active {
    text-decoration-style: solid;
    text-decoration-thickness: 2px;
}

.field {
    display: flex;
    margin-top: 5px;
    font-size: 14px;
    text-align: left;
    margin-bottom: 5px;
    position: relative;
    border-top: 20px solid transparent;
}

.field.hide {
    display: none;
}

.field input {
    border: none;
    padding: 10px;
    appearance: none;
    background:linear-gradient(90deg, #222, #222) center bottom/0 0.15em no-repeat,
        linear-gradient(90deg, #ccc, #ccc) left bottom/100% 0.15em no-repeat,
        var(--secondary) left bottom/100% no-repeat;
    transition: background-size 0.3s ease;
    font-size: var(--font-sz-m);
    border-radius: 4px 4px 0 0;
    color: var(--text);
    outline: none;
    width: 250px;
}

.field input[disabled], .field input[disabled] + label {
    filter: brightness(0.4);
}

.field input:focus, .field input:not(:placeholder-shown) {
    background-size: 100% 0.15em, 100% 0.1em, 100%;
}

.field .placeholder {
    top: 20px;
    left: 10px;
    cursor: text;
    overflow: hidden;
    user-select: none;
    line-height: 100%;
    color: var(--text);
    position: absolute;
    white-space: nowrap;
    text-overflow: ellipsis;
    transform: translateY(-50%);
    transition: top 0.3s ease, color 0.3s ease, font-size 0.3s ease;
}
  
.field input:focus + .placeholder,
.field input:not(:placeholder-shown) + .placeholder {
    top: -10px;
    color: var(--text);
    font-size: var(--font-sz-s);
}
  
.field .error-message {
    width: 90%;
    opacity: 1;
    z-index: -5;
    color: #fff;
    display: flex;
    min-height: 10px;
    padding: 2px 4px;
    align-items: center;
    background: #800000;
    transform: translateY(0px);
    border-radius: 0 0 4px 4px;
    font-size: var(--font-sz-s);
    transition: transform 0.4s cubic-bezier(0.18, 0.89, 0.32, 1.28), opacity 0.25s ease;
}
  
.field .error-message:empty {
    transform: translateY(-10px);
    opacity: 0;
}

.anim-request {
    animation: reqAnim 0.6s ease infinite alternate;
}

@keyframes reqAnim {
    from { filter: brightness(1); }
    to { filter: brightness(0.2); }
}

.spinner {
    top: 20px;
    z-index: -1;
    width: 80px;
    height: 80px;
    display: block;
    margin: 0 auto;
    position: relative;
    border-radius: 100%;
    background-color: #fff;
    animation: scaleout 1s infinite ease-in-out;
}

.spinner.stop {
    display: none;
    animation: none;
}

@keyframes scaleout {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.loading {
    margin-left: 5px;
    border-radius: 100px;
    width: var(--dim, 25px);
    height: var(--dim, 25px);
    border: 3px solid var(--shadow-a);
    animation: spin 1s ease-in-out infinite;
    border-top-color: var(--text);
    flex-shrink: 0;
    flex-grow: 0;
}

.loading.paused {
    animation: none;
    border-color: var(--text);
}

.loading.paused::after {
    top: 50%;
    width: 7px;
    height: 7px;
    content: "";
    margin: auto;
    display: block;
    position: relative;
    border-radius: 2px;
    transform: translateY(-50%);
    background-color: var(--shadow-a);
}

@keyframes spin { to { -webkit-transform: rotate(360deg); } }

.scrollable {
    scrollbar-width: thin;
    overflow: auto;
}

.scrollable::-webkit-scrollbar { height: 4px; }
.scrollable::-webkit-scrollbar-thumb { background-color: var(--gray-clr); }
.scrollable::-webkit-scrollbar-track { box-shadow: inset 0 0 4px var(--selection); }

.tabs {
    position: sticky;
    z-index: 100;
    width: 100%;
    top: 42px;
}

.tabs.hide { display: none; }

.tabs::after {
    content: "";
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    opacity: 0.2;
    position: absolute;
    background-color: var(--border);
}

.tabs span {
    background-color: var(--popup-bg);
    transition: all 0.1s ease;
    filter: brightness(0.4);
    color: var(--gray-clr);
    letter-spacing: 1px;
    font-weight: 100;
    cursor: pointer;
    font-size: 14px;
    display: block;
    padding: 10px;
    flex-grow: 1;
}

.tabs img {
    margin-bottom: -5px;
    margin-right: 5px;
    width: 20px;
}

.tabs span:not(.selected):hover {
    filter: brightness(0.8);
}

.tabs span.selected {
    font-size: 16px;
    font-weight: 900;
    filter: brightness(1);
    background-color: var(--secondary);
    box-shadow: inset 18px 0px 2px -16px var(--shadow-a);
}


.tabs.down {
    filter: drop-shadow(2px 4px 6px #000000);
    background-color: var(--trans-bg);
    transform: scale(0.84);
    max-width: 280px;
    overflow: hidden;
    flex-wrap: wrap;
    animation: none;
    margin: auto;
    top: unset;
    bottom: 0;
}

.tabs.down div {
    font-size: calc(2px + var(--font-sz-s));
    color: var(--ok-clr);
    opacity: 0.8;
    padding: 6px;
    width: 100%;
}

.tabs.down[data-state="con"] div {
    --_cur-clr: var(--warn-clr);
    --_cur-bg: var(--warn-bg);
}

.tabs.down[data-state="off"] div {
    --_cur-clr: var(--err-clr);
    --_cur-bg: var(--err-bg);
}

.tabs.down:not([data-state="on"]) div {
    animation: clrAlt 0.5s ease-in infinite alternate;
    color: var(--_cur-clr);
}

@keyframes clrAlt {
    to { background-color: var(--_cur-bg); }
}
