.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex.c { flex-direction: column; }

.button {
    margin: 4px;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;

    color: var(--text);
    background-color: var(--secondary);
    transition: all 0.2s ease;
}

.button:hover {
    filter: hue-rotate(5deg);
    transform: translateY(-2px);
}

.button:active {
    animation: clicked 0.2s ease-in-out;
}

@keyframes clicked {
    0% { scale: 1; }
    50% { scale: 0.9; }
    100% { scale: 1; }
}

.button.inv {
    color: var(--background);
    background-color: var(--primary);
}

.link {
    padding: 2px 0;
    color: var(--link);
    text-underline-offset: 2px;
    font-size: var(--font-sz-m);
    text-decoration-style: dashed;
    text-decoration-thickness: 1px;
}

.link:hover, .link:active {
    text-decoration-style: solid;
    text-decoration-thickness: 2px;
}