#console { max-width: 880px; }

#console > .container {
    position: relative;
    overflow: hidden;
}

#console > .container > .section {
    transition: transform 0.2s ease, opacity 0.15s, visibility 0.2s;
    transform: translateX(-100px);
    visibility: hidden;
    padding: 2px 8px;
    width: 100%;
    opacity: 0;
    height: 0;
}

#console > .container > .section.push {
    transition: transform 0.2s ease, opacity 0.15s, visibility 0s;
    transform: translateX(0);
    visibility: visible;
    height: unset;
    opacity: 1;
}

/* #region Home Section */

#console > .container .data {
    border: 2px solid var(--accent);
    border-radius: 50px;
    padding: 12px 16px;
    flex-wrap: wrap;
}

#console > .container .item {
    margin: 10px 12px;
}

#console > .container .key {
    text-decoration: underline;
    text-underline-offset: 2px;
    font-family: monospace;
    color: var(--gray-clr);
    font-size: 13px;
}

#console > .container .value {
    color: var(--primary);
}

#console > .container .server-list {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    max-width: 420px;
    border-radius: 12px;
    counter-reset: indexer;
}

#console > .container .server-list.flash {
    animation: flash 2s linear;
    --_bg: var(--gray-clr);
}

@keyframes flash {
    0% { background-color: transparent; }
    15% { background-color: var(--_bg); }
    30% { background-color: transparent; }
    45% { background-color: var(--_bg); }
    60% { background-color: transparent; }
    75% { background-color: var(--_bg); }
    90% { background-color: transparent; }
}

#console > .container .server-list .warn { display: none; }
#console > .container .server-list.na .warn { display: block; }

#console > .container .server-list.na > u,
#console > .container .server-list.na > h4,
#console > .container .server-list.na > ul {
    display: none;
}

#console > .container .server-list > h4 {
    margin-bottom: -4px;
    font-size: 15px;
}

#console > .container .server-list > u {
    text-underline-offset: 4px;
    filter: brightness(0.6);
    color: var(--gray-clr);
    font-size: 12px;
}

#console > .container .server-list ul { padding: 0; }

#console > .container .server-list li {
    width: 100%;
    padding: 8px;
    margin: 10px;
    list-style: none;
    text-align: right;
    border-radius: 10px;
    cursor: not-allowed;
    transform: scale(0.98);
    --_bg-front: var(--warn-clr);
    --_indicator: var(--warn-bg);
    justify-content: space-between;
    filter: brightness(0.5) blur(0.4px);
    background-color: var(--_indicator);
}

#console > .container .server-list li::before {
    box-shadow: inset 0px 0px 5px var(--_indicator);
    background-color: var(--_bg-front);
    text-transform: capitalize;
    counter-increment: indexer;
    content: counter(indexer);
    color: var(--background);
    border-radius: 6px;
    padding: 6px 10px;
    font-weight: 900;
}

#console > .container .server-list li[data-state="connecting"] {
    animation: flicker 0.5s ease infinite alternate;
}

@keyframes flicker {
    from { opacity: 0.5; }
    to { opacity: 1; }
}

#console > .container .server-list li[data-state="online"],
#console > .container .server-list li[data-state="inactive"] {
    --_indicator: var(--ok-bg);
    --_bg-front: var(--ok-clr);
    filter: brightness(1);
    transform: scale(1);
    cursor: pointer;
}

#console > .container .server-list li[data-state="online"]:hover {
    filter: brightness(1.2);
}

#console > .container .server-list li[data-state="inactive"] { --_indicator: var(--themed-bg); --_bg-front: var(--text); }
#console > .container .server-list li[data-state="offline"] { --_indicator: var(--err-bg); --_bg-front: var(--err-clr); }
#console > .container .server-list li div { margin: 0px 4px; }
#console > .container .server-list li b { align-self: end; }

#console > .container .server-list li i {
    font-size: 12px;
    align-self: end;
    text-align: end;
    max-width: 200px;
    text-wrap: balance;
    word-break: break-all;
    font-family: monospace;
}

/* #endregion */

/* #region Monitor Section */

.console-tb {
    width: 100%;
    padding: 8px;
    border-radius: 10px;
}

.console-tb [data-clr="g"] { color: var(--ok-clr); }
.console-tb [data-clr="r"] { color: var(--err-clr); }
.console-tb [data-clr="b"] { color: var(--info-clr); }
.console-tb [data-clr="y"] { color: var(--warn-clr); }

.console-tb .thead {
    font-weight: 900;
    position: relative;
}

.console-tb .tbody {
    min-height: calc(100vh - 272px);
    padding-bottom: 16px;
}

.console-tb .status {
    background-color: var(--ex-violet);
    justify-content: space-between;
    font-size: var(--font-sz-s);
    border-radius: 12px;
    text-wrap: balance;
    padding: 2px 4px;
}

.console-tb .status b { padding: 0 6px; }
.console-tb .status .action { padding: 4px 6px; }

.console-tb .td {
    text-align: left;
    padding: 8px 5px;
    text-wrap: balance;
}

.console-tb .td:nth-child(1) { width: 20%; }
.console-tb .td:nth-child(2) { width: 50%; }
.console-tb .td:nth-child(3) { width: 30%; }
.console-tb .thead .td { padding: 5px; }

.console-tb .tile {
    margin-top: 12px;
    overflow: hidden;
    font-weight: 100;
    transform: scale(1);
    border-radius: 10px;
    transition: transform 0.24s ease;
    border: 1px solid var(--gray-bg);
    background-color: var(--background);
}

.console-tb .tile.open {
    z-index: 5;
    transform: scale(1.02);
    filter: drop-shadow(2px 4px 6px black);
}

.console-tb .tile > .tr {
    background-color: var(--background);
    transition: filter 0.1s ease;
    position: relative;
    cursor: pointer;
}

.console-tb .tile.open > .tr::before { width: 2px; }
.console-tb .tile > .tr:hover { filter: drop-shadow(0 2px 6px black); }

.console-tb .tile > .tr::before {
    left: 0;
    top: 26%;
    width: 1px;
    height: 50%;
    content: "";
    will-change: width;
    position: absolute;
    transition: width 0.1s ease;
    background-color: var(--accent);
}

.console-tb .tile .preview::before {
    color: var(--text);
    content: "Logs: ";
}

.console-tb .tile .preview {
    background-color: var(--themed-bg);
    font-size: var(--font-sz-s);
    text-overflow: ellipsis;
    color: var(--gray-clr);
    white-space: nowrap;
    text-align: left;
    overflow: hidden;
    padding: 5px;
}

.console-tb .tile.open .preview { display: none; }
.console-tb .tile.open .actual { display: block; }

.console-tb .tile .actual {
    background-color: var(--themed-bg);
    display: none;
}

.console-tb .tile .actual .log {
    justify-content: space-between;
    align-items: flex-start;
    padding: 4px 6px;
    text-align: left;
    width: 100%;
}

.console-tb .tile .actual .log.object { white-space: nowrap; }
.console-tb .tile .actual .log:nth-child(odd) { background-color: var(--themed-bg-2); }

.console-tb .tile .actual .log .type {
    color: var(--log-typ-clr);
    pointer-events: none;
    user-select: none;
    margin-right: 6px;
    font-size: 13px;
}

.console-tb .tile .actual .log .type::after { content: ":"; }
.console-tb .tile .actual .log .l-data { flex-grow: 1; }

.console-tb .tile .actual .trace {
    padding: 10px;
    text-align: left;
    padding-top: 20px;
    position: relative;
    white-space: nowrap;
    color: var(--err-clr);
    font-size: calc(var(--font-sz-s) + 2px);
}

.console-tb .tile .actual .trace::before {
    content: "Logs collected from:";
    font-size: var(--font-sz-s);
    color: var(--gray-clr);
    margin-top: -14px;
    margin-left: -1px;
    position: fixed;
}

.console-tb .tile .actual .trace > b {
    opacity: 0.8;
}

/* #endregion */

/* #region Keys Section */

#console > .container .caution {
    font-size: 14px;
    padding: 10px 15px;
    text-wrap: balance;
    margin-bottom: 20px;
    border-radius: 100px;
    color: var(--err-clr);
    background: var(--err-bg);
}

#console > .container .api-key > * {
    margin: 4px 0;
}

#console > .container .api-key > b {
    font-size: 20px;
}

#console > .container .api-key > span {
    background: var(--background);
    text-decoration: underline;
    text-underline-offset: 6px;
    color: var(--gray-clr);
    font-family: monospace;
    padding: 8px 12px;
    font-size: 14px;
    outline: none;
    border: none;
}

/* #endregion */
