:root {
  --font-sz-s: 12px;
  --font-sz-m: 16px;
  --font-sz-l: 24px;
  --font-sz-el: 26px;
  --pad-lvl-0: 15vw;
}

body[data-theme="dark"] {
  --link: #70ffff;
  --text: #fffbec;
  --gray-clr: #d8d8d8;
  --border: #ffcfd871;
  --background: #140f00;
  --primary: #ff8400;
  --secondary: #3f3001;
  --accent: #ff6523;
  --shadow-a: #fff8e6e1;
  --popup-bg: #160a00ee;

  --ok-clr: #d2ffb6;
  --ok-bg: #015800;
  --warn-clr: #fff8c5;
  --warn-bg: #6b5f00;
  --info-clr: #c5f8ff;
  --info-bg: #004858;
  --err-clr: #ffc5c5;
  --err-bg: #630000;
}

body[data-theme="light"] {
  --link: #003644;
  --text: #130e01;
  --gray-clr: #303030;
  --border: #39000b71;
  --background: #fffbec;
  --primary: #e06500;
  --secondary: #ffec8e;
  --accent: #fba123;
  --shadow-a: #211400e3;
  --popup-bg: #fff6c1ee;

  --ok-bg: #b6ff88;
  --ok-clr: #013d00;
  --warn-bg: #ffe419;
  --warn-clr: #322c00;
  --info-bg: #79efff;
  --info-clr: #003c4a;
  --err-bg: #ff9f9f;
  --err-clr: #4a0000;
}

@media screen and (max-width: 400px) {
  :root {
    --font-sz-s: 10px;
    --font-sz-m: 14px;
    --font-sz-l: 20px;
    --font-sz-el: 24px;
    --pad-lvl-0: 5vw;
  }
}
