:root {
  --font-sz-s: 12px;
  --font-sz-m: 16px;
  --font-sz-l: 24px;
  --font-sz-el: 26px;
  --pad-lvl-0: 15vw;
}

body[data-theme="dark"] {
  --link: #70ffff;
  --text: #fffbec;
  --border: #ffcfd871;
  --background: #140f00;
  --primary: #ff8400;
  --secondary: #3f3001;
  --accent: #ff6523;
  --shadow-a: #fff8e6e1;
  --popup-bg: #160a00ee;
}

body[data-theme="light"] {
  --link: #003644;
  --text: #130e01;
  --border: #39000b71;
  --background: #fffbec;
  --primary: #e06500;
  --secondary: #ffec8e;
  --accent: #fba123;
  --shadow-a: #211400e3;
  --popup-bg: #fff6c1ee;
}

@media screen and (max-width: 400px) {
  :root {
    --font-sz-s: 10px;
    --font-sz-m: 14px;
    --font-sz-l: 20px;
    --font-sz-el: 24px;
    --pad-lvl-0: 5vw;
  }
}
